---
import MainLayout from "../layout/MainLayout.astro";
import WorkshopGrid from "../components/WorkshopGrid.astro";
import Banner from "../components/Banner.astro";
import Faq from "../components/Faq.astro";
---

<MainLayout>
  <Banner header="Book workshops" image="workshop.jpg" p1="Du kan udforske mine workshops og læse mere om dem individuelt, før du vælger at booke dem. " p2="Hvis du er interesseret i en virksomhedsworkshop, så tøv ikke med at række ud til mig." />
  <button>Sorter</button>
  <WorkshopGrid />
  <Faq />
</MainLayout>

<style>
  button {
    background-color: transparent;
    border: 1px solid black;
    width: 100%;
    padding-block: 1rem;
    font-size: var(--paragraph-size);
    margin-inline: var(--default-inline);
  }
  @media screen and (min-width: 500px) {
    button {
      margin-top: var(--padding-m);
      width: 12rem;
    }
  }
</style>
