---
import MainLayout from "../layout/MainLayout.astro";
import Textsection from "../components/Textsection.astro";
import Button from "../components/Button.astro";
import Faq from "../components/Faq.astro";
import Banner from "../components/Banner.astro";
import VirksomhedsBanner from "../components/VirksomhedsBanner.astro";
import WorkshopShelf from "../components/WorkshopShelf.astro";
---

<MainLayout>
   
    <Banner header="At arbejde med gips" image="/banner/gips.jpg" p1="Har du nogensinde undret dig over, hvordan man arbejder med gips, og hvad man ville kunne udvikle? Læs mere her!"/>
    <div class="grid1-1">
        <div>
            <Textsection header="Oplev skulptur workshop" text="Fra tid til anden åbner vi vores hjem op på 8. sal i skønne Metropolis. Med udsigt over havet og havnen tilbringer vi 4 timer sammen og arbejder med en af mine yndlings materialer: Gips. Jeg tager dig igennem hele processen, så du kan tage din egen unika skulptur med hjem."/>
            <div><Textsection header="Arbejde intuitivt" text="Når du arbejder med gips, handler det om at kunne give slip og skabe ud fra intuition. Du har kun et lille tidsrum til at bygge skulpturen fra gipsen rammer vandet til det størkner. Det er først når skulpturen skal efterarbejdes at fordybelsen kommer. " />
                <div class="default-inline">
                        <p>Denne metode minder om en skrivemetode ved navn automatskrift, som jeg selv har haft glæde af i mit tidligere arbejde som præst. Metoden handler om at sætte en tidsgrænse og inde for denne grænse skal du bare tømme hovedet ned på papir.</p>
                        <p>Måske du selv kunne få gavn af denne metode?</p>
                </div>
            </div>
        </div>
        <div class="slideshow">
            <div class="slide" style="width:100%"><img src="/public/workshops/gips_workshop.jpg" alt="gips workshop"></div>
            <div class="slide" style="width:100%"><img src="/public/workshops/gips_workshop2.jpg" alt="gips workshop"></div>
        <div class="slide" style="width:100%"><img src="/public/workshops/gips_workshop3.jpg" alt="gips workshop"></div>
        <div class="slide" style="width:100%"><img src="/public/workshops/gips_workshop4.jpg" alt="gips workshop"></div>

        <div class="slide" style="width:100%"><img src="/public/workshops/gips_workshop5.jpg" alt="gips workshop"></div>
    </div>
    </div>

    <div class="resultater">
        <h2>Resultater fra gipsworkshop</h2>
        <div class="billeder">
            <img src="/public/workshops/resultat1.jpg" alt="gips resultat">
        <img src="/public/workshops/resultat2.jpg" alt="gips resultat">
    <img src="/public/workshops/resultat3.jpg" alt="gips resultat">
        </div>
    </div>

    <VirksomhedsBanner/>

    
    
  

    <div class="workshop">
        <h2>Kommende workshops</h2>
            <WorkshopShelf />
            <div class="btn"><Button type="secondary" knaptekst="Se alle workshop" link="book_workshop"/></div>
        </div>
    </div>
        <Faq></Faq>
</MainLayout>

<style>

img{
    aspect-ratio: 16/9;
    object-fit: cover;
}
.btn{
    align-self: center;
    padding-bottom: var(--default-inline);
}

.grid1-1{
    display: flex;
    flex-direction: column;
    padding-block: var(--default-inline);
    gap: 2rem;
}

.grid1-1 div:first-child{
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.grid1-1 div:first-child div:last-child {
    display:flex;
    flex-direction: column;
    gap: 1rem;
}

.resultater{
    display: flex;
    flex-direction: column;
    padding-inline: var(--default-inline);
    gap: 1rem;
    padding-block: var(--default-inline);
}

.billeder{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.workshop{
    display: flex;
    flex-direction: column;
    padding-top: var(--default-inline);
}

.workshop h2{
    padding-inline: var(--default-inline);
}

.default-inline{
    padding-inline: var(--default-inline);
}

.billeder{
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 750px){

    .grid1-1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    padding-block: var(--default-inline);
    padding-right: var(--default-inline);
    }

.grid1-1 div:first-child{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.default-inline{
    display: flex;
    flex-direction: column;
    padding-inline: var(--default-inline);
    padding-top: 1rem;
    gap: 1rem;
}

.slide{
    display: none;
}

.resultater{
    display: flex;
    flex-direction: column;
    padding-inline: var(--default-inline);
    gap: 1rem;

}

.billeder{
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: 1fr;
gap: 2rem;
}

img{
    border-radius: var(--border-radius-s);
}
}

</style>
<script>
    var myIndex = 0;
    carousel();

    function carousel() {
      var i;
      var x = document.getElementsByClassName("slide");
      for (i = 0; i < x.length; i++) {
        (x[i] as HTMLElement).style.display = "none";
      }
      myIndex++;
      if (myIndex > x.length) { myIndex = 1 }
      (x[myIndex - 1] as HTMLElement).style.display = "block";
      setTimeout(carousel, 3500); // Change image every 2 seconds
    }
</script>


