---
import MainLayout from "../layout/MainLayout.astro";
import FrontpageCard from "../components/FrontpageCard.astro";
import WorkshopGrid from "../components/WorkshopGrid.astro";
import Newsletter from "../components/Newsletter.astro";
import Textsection from "../components/Textsection.astro";
import Button from "../components/Button.astro";
import ProductCard from "../components/ProductCard.astro";
import Faq from "../components/Faq.astro";
import WorkshopShelf from "../components/WorkshopShelf.astro";
---

<MainLayout>
  <section class="hero">
    <div><img class="banner" src="/banner/header.jpg" alt="banner billede" /></div>
    <div class="banner-text">
      <div> <h1>Workshop i keramik og ler</h1><p>for virksomheder og privat</p></div>
        <div class="btn"><Button type="primary" link="/book_workshop">Book workshop</Button>
        </div>
      </div>
  </section>
  <section class="frontpage_intro">
    <Textsection header=" Lær at arbejde med hænderne" text="Kom til workshop hos FirePaperRun og oplev enestående øjeblikke, som et afbræk fra det  sædvanlige kontorliv. I Sydhavnen, i de smukkeste omgivelser, kan du lære at skabe unikaværker i keramik eller gips. Kun fantasien sætter grænser." />
    <div class="card_shelf">
      <FrontpageCard titel="At arbejde med gips" img="/produkter/gips.jpg" />
      <FrontpageCard titel="At arbejde med keramik" img="/produkter/keramik.jpg"/>
    </div>
  </section>
  <section class="workshop_shelf">
 <div> <WorkshopShelf/></div>
  <Button type= "secondary" link="/book_workshop">Se alle workshops</Button>
  </section>
<ProductCard/>
  <Newsletter/>
  <Faq/>
</MainLayout>
<style>
  .hero {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    max-height: 450px;
    overflow: hidden;
    text-align: center;
  }
  .hero div:first-of-type {
    grid-area: 1 / 1 / 4 / 4;
  }
  .hero div:nth-of-type(2) {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .logo {
    width: 12;
    max-width: 16rem;
  }
  .banner {
    width: auto;
    height: 90%;
  }

  .banner-text{
    display: flex;
    gap: 50px;
  }
  .frontpage_intro {
    padding-block: 1.8rem;
  }
  .workshop_shelf {
    padding-block: 1.8rem;
  }
  .frontpage_intro h2 {
    margin-bottom: 0.5rem;
  }
  .frontpage_intro p:nth-of-type(1) {
    margin-bottom: 1rem;
  }
  .card_shelf {
    display: flex;
    flex-wrap: wrap;
    gap: 2.25rem;
    margin-block: 2rem;
    justify-content: center;
  }
  h1, p{
    color: var(--light-white);
  }

  p{
    font-weight: var(--mob-h1-weight-thin);
    font-size: var(--mob-h1-size);
  }

  


  


  /*DESKTOP*/
@media screen and (min-width: 750px){
  .banner {
    width: 100%;
    height: 100%;
  }

  .btn{
    display: none;
  }
  }
</style>
