---
import MainLayout from "../layout/MainLayout.astro";
import Textsection from "../components/Textsection.astro";
import WorkshopShelf from "../components/WorkshopShelf.astro";
import Button from "../components/Button.astro";
import Banner from "../components/Banner.astro";
import TextImage from "../components/TextImage.astro";
---

<MainLayout>
    <Banner header="Bagom FirePaperRun" image="om-os.jpg" p1="Kom til workshop hos FirePaperRun og oplev enestående øjeblikke, som et afbræk fra det  sædvanlige kontorliv." p2="I Sydhavnen, i de smukkeste omgivelser, kan du lære at skabe unikaværker i keramik eller gips. Kun fantasien sætter grænser."/>


    <div class="section-gap">
        <div class="default-inline top">
            <h2>Katrine Blinkenberg</h2>
            <p>Mit navn er Katrine Blinkenberg, og jeg er hovedet bag FirePaperRun. I 2022 vaglte jeg at ligge præstearbejdet fra mig og udforske min kreative side. Siden da, har jeg afholdt mange forskellige workshops, i gips og ler.
            </p>
        </div>
        
        
        <div class="default-inline">
            <div class="video-section">
                video her

                <div class="quote">
                    <p>“FirePaperRun handler om de unikke, smukke
                        relationer vi har til andre mennesker”</p>
                </div>
            </div>
        </div>

        <div class="firepaperrun ">
           <TextImage>
            <div class="gap">
                <div><Textsection header="FirePaperRun" text="Kom til workshop hos FirePaperRun og oplev enestående øjeblikke, som et afbræk fra det sædvanlige kontorliv. Vi afholder workshops for private og virksomheder og alt kan skræddersyes til hvad det er i gerne vil udforske og lære."/></div>
                <div><Textsection header="Håndværk og mennesket" text="Man kan lære meget om et menneske ved at se hvordan de arbejder med deres hænder. Samtidig kan det, at have et kreativt afbræk i dagligdagen skabe et nyt pust af energi og inspiration til din hverdag! Alle kan lære at lave kunst, og det er aldrig for sent at lære."/></div>
            </TextImage> 
            </div>
        </div>


        <div class="default-inline kommendeworkshops">
            <div><h2>Kommende workshops</h2></div>
            <div><WorkshopShelf/></div>
            <div class="btn"><Button type="secondary" knaptekst="Se alle workshop" link="book_workshop"/></div>
        </div>
</div>
</MainLayout>


<style>



.section-gap{
    display: flex;
    flex-direction: column;
    gap: var(--padding-default);
}

.firepaperrun{
    display: flex;
    flex-direction: column;
    gap: var(--padding-s);
    padding-bottom: var(--padding-m);
}

.kommendeworkshops{
    display: flex;
    flex-direction: column;
    padding-bottom: 5rem;
    gap: var(--padding-s);
}

.btn{
    align-self: center;
}

.quote p{
    max-width: 50%;
    margin-inline: auto;
    text-align: center;
    font-size: var(--quote-size);
    line-height: var(--quote-line-height);
    font-weight: var(--quote-weight);
    font-style: var(--quote-style);
}




@media screen and (min-width: 750px){

.quote p{
    max-width: 50%;
    margin-inline: auto;
    text-align: center;
    font-size: var(--quote-size);
    line-height: var(--quote-line-height);
    font-weight: var(--quote-weight);
    font-style: var(--quote-style);
}

.gap{
    gap: var(--padding-m);
}

.top{
    padding-top: var(--padding-m);
}

.firepaperrun{
    padding-right: var(--default-inline);
}

.default-inline{
    padding-inline: var(--default-inline);
}

}



</style>