---
import MainLayout from "../layout/MainLayout.astro";
import Textsection from "../components/Textsection.astro";
import WorkshopShelf from "../components/WorkshopShelf.astro";
import Button from "../components/Button.astro";
import Banner from "../components/Banner.astro";
import VirksomhedsBanner from "../components/VirksomhedsBanner.astro";
---

<MainLayout title="Om os">
    <Banner header="Bagom FirePaperRun" image="om-os.webp" p1="Kom til workshop hos FirePaperRun og oplev enestående øjeblikke, som et afbræk fra det  sædvanlige kontorliv." p2="I Sydhavnen, i de smukkeste omgivelser, kan du lære at skabe unikaværker i keramik eller gips. Kun fantasien sætter grænser."/>

    <div class="grid1-1">
        <div class="gap">
            <div><Textsection header="Katrine Blinkenberg" text="Mit navn er Katrine Blinkenberg, og jeg er hovedet bag FirePaperRun. I 2022 vaglte jeg at ligge præstearbejdet fra mig og udforske min kreative side. Siden da, har jeg afholdt mange forskellige workshops, i gips og ler."/>
            </div>
            <div><Textsection header="Håndværk og mennesket" text="Man kan lære meget om et menneske ved at se hvordan de arbejder med deres hænder. Samtidig kan det, at have et kreativt afbræk i dagligdagen skabe et nyt pust af energi og inspiration til din hverdag! Alle kan lære at lave kunst, og det er aldrig for sent at lære. Vi afholder workshops for private og virksomheder og alt kan skræddersyes til hvad det er i gerne vil udforske og lære."/>    
            </div>
        </div>
               
        <div class="iframe-wrapper"><iframe width="100%" height="100%" src="https://www.youtube.com/embed/dMrog3NwJAc?si=kL5kAFYEb4PUmCSh" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
        </iframe>
        </div>
    </div>

    <div class="quote">
        <p>“FirePaperRun handler om de unikke, smukkerelationer vi har til andre mennesker"
        </p>
    </div>
                
       <VirksomhedsBanner/>         


        <div class="default-inline">

            <div><WorkshopShelf header="Kommende workshops"/></div>
            <div class="btn"><Button type="secondary" knaptekst="Se alle workshop" link="book_workshop"/></div>
        </div>
</div>
</MainLayout>


<style>

.grid1-1{
    display: flex;
    flex-direction: column;
    padding-block: var(--default-inline);
}


.gap{
    display: flex;
    flex-direction: column;
    gap: var(--padding-l);
}

.gap div:last-child{
    padding-bottom: var(--default-inline);
}




iframe {
        object-fit: cover;
        aspect-ratio: 16/9;
        align-self: center;
    }

.quote p{
    font-size: var(--quote-size);
    line-height: var(--quote-line-height);
    font-weight: var(--quote-weight);
    font-style: var(--quote-style);

}

.quote{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-block: 4rem;

}

.default-inline h2{
    padding-bottom: var(--default-inline);
}

.btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: var(--padding-xl);
}



@media screen and (min-width: 750px){

.grid1-1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    padding-block: var(--default-inline);
    padding-right: var(--default-inline);
}

.gap{
    display: flex;
    flex-direction: column;
    gap: var(--padding-xxl);
}



iframe {
        object-fit: cover;
        aspect-ratio: 16/9;
        align-self: center;
        border-radius: var(--border-radius-s);
    }

.quote{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 6rem;
}

}



</style>