* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Normalisering af font og linjehøjde på dokumentets tekster, samt nedtoning af tekstfarven */
body {
  font-family: var(--paragraph-font), sans-serif, system-ui;
  line-height: 1.6;
  color: var(--light-black);
  background-color: var(--light-white);

  margin-inline: auto;
}

/* Normalisering af billeder */
img {
  width: 100%;
  height: auto;
  display: block;
}




h1,
h2,
h3 {
  font-family: var(--header-font);
}
h1 {
  font-size: var(--mob-h1-size);
  line-height: var(--mob-h1-line-height);
  font-weight: var(--mob-h1-weight-default);
}
h2 {
  font-size: var(--mob-h2-size);
  line-height: var(--mob-h2-line-height);
  font-weight: var(--mob-h2-weight-default);
}
h3 {
  font-size: var(--mob-h3-size);
  line-height: var(--mob-h3-line-height);
  font-weight: var(--mob-h3-weight-default);
}
p {
  font-size: var(--mob-paragraph-size);
  line-height: var(--mob-paragraph-line-height);
  font-weight: var(--mob-paragraph-weight-default);
}
a{
  text-decoration: none;
  color: inherit;
}
