* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Normalisering af font og linjehøjde på dokumentets tekster, samt nedtoning af tekstfarven */
body {
  font-family: var(--paragraph-font), sans-serif, system-ui;
  line-height: 1.6;
  color: var(--light-black);
  background-color: var(--light-white);
  margin-inline: auto;
}

/* Normalisering af billeder */
img {
  width: 100%;
  height: auto;
  display: block;
}




h1,
h2,
h3 {
  font-family: var(--header-font);
  color: var(--dark-black);
}
h1 {
  font-size: var(--h1-size);
  line-height: var(--h1-line-height);
  font-weight: var(--h1-weight-default);
}
h2 {
  font-size: var(--h2-size);
  line-height: var(--h2-line-height);
  font-weight: var(--h2-weight-default);
}
h3 {
  font-size: var(--h3-size);
  line-height: var(--h3-line-height);
  font-weight: var(--h3-weight-default);
}
p {
  font-size: var(--paragraph-size);
  line-height: var(--paragraph-line-height);
  font-weight: var(--paragraph-weight-default);
  max-width: 65ch;
}
a{
  text-decoration: none;
  color: inherit;
}
.full_bleed{
  width: 100vw;
  margin-left: calc(50% - 50vw);
}

