:root {
  /* White-colors */
  --lighter-white: #fefefe;
  --light-white: #f3f2f2;
  --light-orange: #DCCEC5;
  --dusty-orange: #eee8e2;
  --orange: #8c4322;
  --light-black: #2d2d2d;
  --dark-black: #181818;
  --dusty-green: #676258;
  --dark-green: #30362a;
  --yellow: #F9C278;
  --dark-red: #411909;

  /* NumberStrings */
  --stroke-xs: 1px;
  --stroke-s: 2px;

  --padding-xs: 0.5rem;
  --padding-s: 1rem;
  --padding-m: 3.125rem;

  --border-radius-s: 5px;
  --border-radius-m: 10px;
  --border-radius-l: 15px;

  /* Semantic-tokens */
    /* Button / Default / Colors */
  --button-fill: var(--yellow);
  --button-fill-text: var(--dark-red);

    /* Button / Secondary / Stroke / Colors */
  --button-stroke-color-white: var(--light-white);
  --button-stroke-white: var(--light-white);
  --button-stroke-black: var(--dark-black);
  --button-stroke-black: var(--dark-black);

    /* Button / Secondary / NumberStrings */
  --button-stroke-xs: var(--stroke-xs);
  --button-stroke-s: var(--stroke-s);
  --button-border-s: var(--border-radius-s);
  --button-border-m: var(--border-radius-m);
  --button-border-l: var(--border-radius-l);

  /* Logo / NumberStrings */
  --logo-stroke-default: var(--stroke-xs);
  --logo-stroke-color: var(--light-white);

  /* Icon / NumberStrings */
  --icon-stroke-s: var(--stroke-s);

    /* Card / NumberStrings */
    --Card-border-radius-s: var(--border-radius-s);
    --Card-border-radius-l: var(--border-radius-m);



  /* Semantic-tokens */
  /* FAQ-colors */
  --faq-bg-color: var(--dark-green);
  --faq-text-color: var(--light-white);

  /* Footer-colors */
  --footer-bg-color: var(--light-orange);
  --footer-header-color: var(--dark-black);
  --footer-text-color: var(--light-black);

  /* Burn-colors */
  --burn-bg-color: var(--dusty-green);
  --burn-text: var(--light-white);

  /* Newsletter-color*/
  --news-bg: var(--orange);
  --news-text: var(--light-white);

  /* Typeface */
  --header-font: "Montserrat";
  --paragraph-font: "Inter";
  --mob-quote-style: "light italic";

    /* Fonts */
  --mob-h1-size: 1.5rem;
  --mob-h1-line-height: 2.3rem;
  --mob-h1-weight-default: 500;
  --mob-h1-weight-thin: 300;
  --mob-h1-weight-semi-bold: 600;
  --mob-h1-weight-bold: 700;

  --mob-h2-size: 1.3rem;
  --mob-h2-line-height: 2rem;
  --mob-h2-weight-default: 500;
  --mob-h2-weight-thin: 300;
  --mob-h2-weight-semibold: 600;
  --mob-h2-weight-bold: 700;

  --mob-h3-size: 1.1rem;
  --mob-h3-line-height: 1.75rem;
  --mob-h3-weight-default: 500;
  --mob-h3-weight-thin: 300;
  --mob-h3-weight-semibold: 600;
  --mob-h3-weight-bold: 700;

  --mob-paragraph-size: 1rem;
  --mob-paragraph-line-height: 1.2rem;
  /* jeg har ændret i de to nedenstående så at default er light */
  --mob-paragraph-weight-regular: 500;
  --mob-paragraph-weight-default: 300;
  --mob-paragraph-weight-semibold: 600;
  --mob-paragraph-weight-bold: 700;

  --mob-button-size: 0.8rem;
  --mob-button-line-height: auto;
  --mob-button-weight-default: 500;
  --mob-button-weight-thin: 300;
  --mob-button-weight-semibold: 600;
  --mob-button-weight-bold: 700;

  --mob-quote-size: 1.2rem;
  --mob-quote-line-height: auto;
  --mob-quote-weight: 300;

  --default-inline: 1.5rem;
}
