---

---

<section>
    <h2>Priser for brænding</h2>
  <details>
    <summary>X-Small (5x5 cm)</summary>
    <p>5x3x5 cm = 25.00 DKK</p>
    <p>5x8x5 cm = 35.00 DKK</p>
    <p>5x13x5 cm = 55.00 DKK</p>
    <p>5x35x5 cm = 70.00 DKK</p>
  </details>

  <details>
    <summary>Small (9x9 cm)</summary>
    <p>9x3x9 = 35.00 DKK</p>
    <p>9x8x9 = 45.00 DKK</p>
    <p>9x13x9 = 65.00 DKK</p>
    <p>9x35x9 = 80.00 DKK</p>
  </details>

  <details>
    <summary>Medium (13x13 cm)</summary>
    <p>13x3x13 cm = 45.00 DKK</p>
    <p>13x8x13 = 65.00 DKK</p>
    <p>13x13x13 = 90.00 DKK</p>
    <p>13x35x13 = 125.00 DKK</p>
  </details>

  <details>
    <summary>Large (18x18 cm)</summary>
    <p>18x3x18 = 90.00 DKK</p> 
    <p>18x8x18 = 145.00 DKK</p> 
    <p>18x13x18 = 185.00 DKK</p> 
    <p>18x35x18 = 270.00 DKK</p> 
</details>

  <details>
    <summary>X-Large (35x18 cm)</summary>
    <p>35x3x18 = 165.00 DKK</p>
    <p>35x8x18 = 265.00 DKK</p>
    <p>35x13x18 = 330.00 DKK</p>
    <p>35x35x18 = 400.00 DKK</p>
  </details>

  <details>
    <summary>XX-Large (35x35 cm)</summary>
    <p>35x3x35 = 260.00 DKK</p> 
    <p>35x8x35 = 400.00 DKK</p> 
    <p>35x13x35 = 600.00 DKK</p> 
    <p>35x35x35 = 800.00 DKK</p> 
</details>
</section>

<style>
    h2 {
        color: var(--burn-text);
    }
    
  section {
    background-color: var(--burn-bg-color);
    color: var(--burn-text);
    padding-block: 2rem;
    padding-inline: var(--default-inline);
    display: flex;
    flex-direction: column;

    gap: 1rem;
  }
  details {
    max-width: 30rem;
  }
  summary {
    font-weight: 500;
  }
</style>
