---
const { link, type, knaptekst} = Astro.props;
---

  <a class= {type} href=`/${link}`>{knaptekst}
</a>

<style>
a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        width: fit-content;
        white-space: nowrap;
          padding: 1rem;
    padding-inline: 1.8rem;
    padding-block: 0.50rem;
    border-radius: var(--button-border-s);
    }

.teritary {
    color: var(--button-stroke-color-white);
    border: var(--button-stroke-xs) solid var(--button-stroke-white);
}
.secondary {
    color: var(--button-stroke-color-black);
    border: var(--button-stroke-xs) solid var(--button-stroke-black);
}

.primary {
  color: var(--button-fill-text);
  background-color: var(--button-fill);
}
.sold_out{
  color: var(--button-stroke-color-white) ;
  background-color: var(--dusty-green);
  cursor: not-allowed;
}
</style>