---

---

<section>
  <div>
    <h2>FAQ</h2>
    <details>
      <summary>Jeg har aldrig arbejdet med gips eller ler før, kan jeg deltage?</summary>
      <p>Her kan du besvare spørgsmålet. Den vil se sådan her ud hvis der er en længere tekst</p>
    </details>
    <details>
      <summary>Kan jeg refundere en tilmelding?</summary>
      <p>Alle tilmeldninger er bindende og kan ikke refunderes.</p>
    </details>
    <details>
      <summary>Hvor foregår workshoppen?</summary>
      <p>Hvis du skal til gips, foregår det i mit hjem: Oscar Pettifords Vej 23, 8. t.h. Hvis du skal til keramik, foregår det i en container, der ligger omtrent adressen Ved Slusen 29. Du må altid ringe, hvis du ikke kan finde vej.</p>
    </details>
    <details>
      <summary>Hvad skal jeg tage med?</summary>
      <p>Til skulpturhold i lejligheden kan du medbringe frokost. Til keramik i containeren er varmt tøj om vinteren en god ide.</p>
    </details>
    <details>
      <summary>Hvad inkluderer min billet?</summary>
      <p>- Adgang til 4-timers skulptur workshop</p>
      <p>- Alle materialer nødvendigt for gips</p>
      <p>- Kaffe, te og snacks</p>
    </details>
  </div>
</section>

<style>
  section {
    background-image: url("/public/banner/FAQ.jpg");
    background-position: center;
    background-size: cover;
    color: var(--faq-text-color);
    padding-block: var(--default-inline);
    padding-inline: var(--default-inline);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  details {
    max-width: 30rem;
    padding-block: var(--padding-xs);
  }

  summary{
    font-size: 1rem;
    font-weight: var(--paragraph-weight-semibold);
  }
  section div{
    max-width: 440px;
  }


  h2{
    color: var(--light-white);
    text-align: center;
    padding-bottom: var(--padding-s);
    
    font-weight: var(--h2-weight-bold);
  }

  @media screen and (min-width: 750px){  
 
  section{
    align-items: center;
    }
  section div{
    max-width: 500px;
  }


  details{
    padding-block: var(--padding-xs);
  }

  
  h2{
    text-align: center;
    padding-bottom: var(--padding-xs);
  }

  }
</style>
