---

---

<section>
  <details>
    <summary>Jeg har aldrig arbejdet med gips eller ler før, kan jeg deltage?</summary>
    <p>Her kan du besvare spørgsmålet. Den vil se sådan her ud hvis der er en længere tekst</p>
  </details>
  <details>
    <summary>Kan jeg refundere en tilmelding?</summary>
    <p>Alle tilmeldninger er bindende og kan ikke refunderes.</p>
  </details>
  <details>
    <summary>Hvor foregår workshoppen?</summary>
    <p>Hvis du skal til gips, foregår det i mit hjem: Oscar Pettifords Vej 23, 8. t.h. Hvis du skal til keramik, foregår det i en container, der ligger omtrent adressen Ved Slusen 29. Du må altid ringe, hvis du ikke kan finde vej.</p>
  </details>
  <details>
    <summary>Hvad skal jeg tage med?</summary>
    <p>Til skulpturhold i lejligheden kan du medbringe frokost. Til keramik i containeren er varmt tøj om vinteren en god ide.</p>
  </details>
  <details>
    <summary>Hvad inkluderer min billet?</summary>
    <p>Adgang til 4-timers skulptur workshop</p>
    <p>Alle materialer nødvendigt for gips</p>
    <p>Kaffe, te og snacks</p>
  </details>
</section>

<style>
  section {
    background-color: var(--faq-bg-color);
    color: var(--faq-text-color);
    padding-block: 2rem;
    padding-inline: var(--default-inline);
    display: flex;
    flex-direction: column;

    gap: 1rem;
  }
  details {
    max-width: 30rem;
  }
  summary {
    font-weight: 500;
  }
</style>
