---

---
<section id="newsletter">
  <div class="background">
    <img src="/public/logo/fpr-sort-monogram.svg" alt="">
  </div>
<div class="newsletter-width">
  <h2>Tilmeld dig vores nyhedsbrev</h2>
  <p>Og vær blandt de første til at modtage nyheder og informationer om workshops og kurser!</p>
<form id="newsletter_form" netlify>
  <div class="info-fields">
    <input type="text" name="name" value="" placeholder="Name:" id="name" />
    <input type="email" name="email" value="" placeholder="E-mail:" id="email" />
  </div>
  <input type="submit" name="submit" value="Tilmeld" />
</form></div>
</section>


<style>

#newsletter{
  padding:var(--padding-m);
  background-color: var(--news-bg);
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.background{
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  right: -10rem;
  top: -0.1rem;
  max-width: 70%;
  opacity: 30%;
}

input{
  width: 100%;
  padding: 0.25rem;
  border: none;
}

input::placeholder, textarea::placeholder, #newsletter{
  color: var(--news-text);
}

input[type="text"], input[type="email"]{
  border-bottom: 1.5px solid var(--light-white);
  background-color: transparent;
  color: var(--news-text);
  opacity: 70%;
  padding-block: var(--padding-xs);
}

input:focus,
select:focus,
option:focus,
textarea:focus,
button:focus {
    outline: none;
}


input[type="submit"]{
  color: var(--button-stroke-color-white);
  border: var(--button-stroke-xs) solid var(--button-stroke-white);
  background-color: transparent;
  align-self: center;
  padding: 1rem;
  padding-inline: var(--padding-s);
  padding-block: var(--padding-xs);
  border-radius: var(--button-border-s);
  margin-top: var(--padding-s);
  width: fit-content;
}

form{
  padding-bottom: 1.25rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
}

h2{
  color: var(--news-text)
}


/*Desktop*/
@media screen and (min-width: 750px){
  #newsletter{
  padding-block: 5rem;
  background-color: var(--orange);
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.background{
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  right: -5rem;
  top: -0.1rem;
  max-width: 33%;
  opacity: 30%;
}

input{
  width: 100%;
  padding: 0.25rem;
  border: none;
}

input::placeholder, textarea::placeholder, #newsletter{
  color: var(--news-text);
}

input:focus,
select:focus,
option:focus,
textarea:focus,
button:focus {
    outline: none;
}

input[type="text"], input[type="email"]{
  border-bottom: 1.5px solid var(--light-white);
  background-color: transparent;
  color: var(--news-text);
  opacity: 70%;
  margin-bottom: var(--padding-xs);
  padding-block: var(--padding-s)
}

.newsletter-width{
  min-width: 25rem;
  max-width: 39rem;
  margin: auto;
}

/*BUTTON SKAL SKIFTES UD MED DESKTOP VER*/
input[type="submit"]{
  color: var(--button-stroke-color-white);
  border: var(--button-stroke-xs) solid var(--button-stroke-white);
  background-color: transparent;
  align-self: center;
  padding: 1rem;
  padding-inline: var(--padding-s);
  padding-block: var(--padding-xs);
  border-radius: var(--button-border-s);
  margin-top: var(--padding-s);
  width: fit-content;
}

h2{
  color: var(--news-text);
}


}

</style>

<script>
  // Bemærk at denne sektion er taget fra vores tidligere projekt på 2 semester (Omada testimonials)

  // Define the Supabase URL where the testimonials will be stored
  const supabaseUrl = "https://lcfiilplolafhgotzgrk.supabase.co/rest/v1/newsletter_signups";

  // Define the Supabase API key
  const supabaseKey = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxjZmlpbHBsb2xhZmhnb3R6Z3JrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTQ3MzM4NjEsImV4cCI6MjAzMDMwOTg2MX0.NG1pwR1rYfymfHS_elIDmB5V-2TOWGrrPumjrgwhDp4";

  // Get the testimonial form element
  const form = document.querySelector("#newsletter_form");

  // Add a submit event listener to the form
  form.addEventListener("submit", async (e) => {
    // Prevent the default form submission behavior
    e.preventDefault();

    // Show an alert to the user
    alert("Tak for din tilmelding");

    // Get the input values from the form
    const name = form.querySelector("#name").value;
    const email = form.querySelector("#email").value;

    // Create an object with the input data
    const data = {
      name,
      email,
    };

    // Send a POST request to the Supabase API to save the testimonial
    const response = await fetch(supabaseUrl, {
      method: "POST",
      headers: {
        apikey: supabaseKey,
        "Content-Type": "application/json",
      },
      body: JSON.stringify(data),
    });
  });
</script>
