---
const { name, image, price, id, sold_out } = Astro.props;
---

<article>
  <a href={`/product/${name + id}`}>
    <img src={`/produkter/${image}`} alt={`billede af ${name}`} />
    <p>{name}</p>
    <p>{price} DKK</p>
  </a>
</article>

<style>
  article {
    display: flex;
    flex-direction: column;
    gap: 0.3125rem;
    width: 100%;
    margin-inline: 0.5rem;
    margin-block: 1rem;
  }
  img {
    aspect-ratio: 16/20;
    object-fit: cover;
    border-radius: 5px;
    object-position: bottom;
  }
</style>
