---

---

<article>
    <img src="/produkter/keramik_kop1.jpg" alt="">
    <p>Unika keramik kop</p>
    <p>299 DKK</p>
</article>

<style>
    article{
        display: flex;
        flex-direction: column;
        gap: 0.3125rem;;
        width: 100%;
        max-width: 10rem;
        margin-inline: 0.5rem;
        margin-block: 1rem;
    }
    img{
        aspect-ratio: 16/20;
        object-fit: cover;
        border-radius: 5px;
        object-position: bottom;

    }
</style>