---
const { name, image, price, id, sold_out } = Astro.props;
---

<article>
  <a href={`/product/${name + id}`}>
    <img src={`/produkter/${image}.webp`} alt={`billede af ${name}`} />
    <p>{price} DKK</p>
    <p>{name}</p>
  </a>
</article>

<style>
  a {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 10rem;
    margin-block: 1rem;
  }
  img {
    aspect-ratio: 16/20;
    object-fit: cover;
    border-radius: 5px;
    object-position: bottom;
  }
  p:first-of-type{
    font-weight:var(--paragraph-weight-regular);
    margin-top: 0.4rem;
    margin-bottom: 0.6rem;
  }
  p:last-of-type{
    font-family: var(--header-font);
    font-size: 1.1rem;
  }

</style>
