---
const header = Astro.props.header;
const text = Astro.props.text;
---
    <section>
        <h2>{header}</h2>
        <p>{text}</p>
    </section>

    <style>
        h2{
            padding-bottom: var(--padding-xs);
        }

        section{
            padding-inline: var(--default-inline);
        }


/*Desktop*/
@media screen and (min-width: 750px){

    section{
        padding-inline: var(--default-inline);
    }


}
    </style>


 
