---

---

<footer>
  <div class="kontakt">
  <h2>Kontakt</h2>
  <div class="kontakt-info">
    <p>Tlf nummer: <a href="tel:93878524">+45 93 87 85 24</a></p>
    <p>E-mail: <a href="mailto:info@firepaperrun.dk">info@firepaperrun.dk</a></p>
    <p>Oscar Pettifords Vej 23, 8th</p>
    <p>2450 København SV</p>
    <p>Danmark</p>
    <div class="cvr"><p>CVR-nr: 38409662</p> </div>
  </div>
</div>

  <div class="Katrine-Blinkenberg">
    <h2>Katrine Blinkenberg</h2>
    <p>Interesseret i mine skulpturer?</p>
    <p>Besøg min kunstnerhjemmeside</p>
    <a href="https://katrineblinkenberg.com/">Katrine Blinkenberg.com</a>
  </div>

  <div class="FirePaperRun">
   <h2>FirePaperRun</h2>
    <p>Følg med i hverdagen hos FirePaperRun ovre på vores Instagram</p>
    <div class="socials"><a href="https://www.instagram.com/firepaperrun/"><img src="/logo/instagram-logo.svg" alt="instagram logo" /></a></div>
  </div>
</footer>

<style>
  footer {
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-block: 5rem;
    padding-inline: var(--default-inline);
  }
  img {
    max-width: 2rem;
    padding-block: 1rem;
  }
  .cvr{
    margin-top: 1rem;
  }

  @media screen and (min-width: 750px){
    footer{
      flex-direction: row;
      justify-content: space-between;
    }
    footer div{
      max-width: 15rem;
    }
  }
</style>
