---
import Button from "../components/Button.astro";
---

<header>
  <nav>
    <div class="desktop_menu">
      <div class="desktop-menu-left">
        <a href="/"><img src="/logo/fpr-hvid-monogram.svg" alt="FirePaperRun logo" /></a>

        <a href="/">Køb Produkter</a>
        <a href="/gips">Arbejd med gips</a>
        <a href="/keramik">Arbejd med keramik</a>
        <a href="/om">Om os</a>
      </div>
      <div class="desktop-menu-right">
        <Button type="primary">Book Workshop</Button>
        <a href="/"><img class="vogn" src="/logo/shoppingcart.svg" alt="shoppingcart" /></a>
      </div>
    </div>

    <div class="mobile_menu">
      <a href="/"><img class="logo" src="/logo/fpr-hvid-monogram.svg" alt="FirePaperRun logo" /></a>
      <div class="mobile_menu_right">
        <a href="/"><img class="vogn" src="/logo/shoppingcart.svg" alt="shoppingcart" /></a>
        <div class="burger-menu-btn">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="burger-menu">
          <a href="/book_workshop">Book Workshop</a>
          <a href="/">Køb Produkter</a>
          <a href="/gips">Arbejd med gips</a>
          <a href="/keramik">Arbejd med keramik</a>
          <a href="/om">Om os</a>
        </div>
      </div>
    </div>
  </nav>
</header>

<style>
  header {
    padding-inline: 0.7rem;
    padding-block: 0.8rem;
    overflow: hidden;
    z-index: 1000;
    transition:
      background-color 0.3s cubic-bezier(0.14, 0.51, 0.81, 0.4),
      padding 0.3s ease;
    z-index: 99999;
    transition: background-color 0.5s cubic-bezier(.14,.51,.81,.4), padding 0.5s ease;
    color: var(--light-white);
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10001;
  }


  
header.sticky{
  background-color: rgb(28, 42, 28);
  padding-inline: 1rem;
  padding-block: 0.3rem;
  
}
  nav, .mobile_menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  img {
    max-width: 2.5rem;
  }
  .workshop-btn {
    display: none;
  }

  /* Burger menu button */
  .burger-menu-btn {
    width: 30px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 1001;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .burger-menu-btn span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--light-white);
    border-radius: 5px;
    margin-bottom: 7px;
  }
  .vogn {
    width: 30px;
    height: 40px;
    z-index: 1002;
  }
  .logo {
    z-index: 1002;
  }

  .mobile_menu_right {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    position: relative;
  }
  /*Burger animation*/

  /* Burger menu */
  .burger-menu {
    z-index: 1000;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgb(28, 42, 28);
    padding-inline: 1rem;
    padding-block: 7rem;
    height: 100vh;
    width: 100vw;
    text-align: center;
    font-size: var(--mob-h1-size);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  /* Show menu */
  .burger-menu.show {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  /* Menu item styling */
  .burger-menu a {
    display: block;
    color: var(--light-white);
    text-decoration: none;
    padding: 5px 0;
  }

  .burger-menu a:hover {
    font-weight: var(--mob-h1-weight-default);
    cursor: pointer;
  }

  body.no_scroll {
    overflow: hidden;
  }

  .desktop_menu {
    display: none;
  }

  .vogn,
  .logo {
    position: relative;
    z-index: 1002;
  }

  /*DESKTOP*/
  @media screen and (min-width: 750px) {
    .mobile_menu {
      display: none;
    }

    .desktop_menu {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: auto;
      padding-inline: 0.7rem;
      padding-block: 0.3rem;
    }

    .desktop-menu-left,
    .desktop-menu-right {
      display: flex;
      justify-content: space-evenly;
      width: auto;
      align-items: center;
      gap: 30px;
    }

    nav {
      display: flex;
      justify-content: space-between;
    }
    img {
      max-width: 2.5rem;
    }
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const burgerMenuBtn = document.querySelector(".burger-menu-btn");
    const burgerMenu = document.querySelector(".burger-menu");
    const body = document.body;
    const header = document.querySelector("header");
    const sticky = header.offsetTop;

    burgerMenuBtn.addEventListener("click", function () {
      burgerMenu.classList.toggle("show");
      body.classList.toggle("no_scroll");
    });

    window.onscroll = function () {
      stickynav();
    };

    function stickynav() {
      if (window.pageYOffset > sticky) {
        header.classList.add("sticky");
      } else {
        header.classList.remove("sticky");
      }
    }
  });
</script>
