---

---

<header>
  <nav class="mobile_nav">
    <a href="/"><img src="/logo/fpr-sort-monogram.svg" alt="FirePaperRun logo" /></a>

    <div class="left-menu">
      <button class="workshop-btn">Book workshops</button>
      <button class="burger-menu-btn">
        <span class="burger-icon"></span>
      </button>
      <div class="burger-menu">
        <a href="/book_workshop">Book Workshop</a>
        <a href="/">Køb Produkter</a>
        <a href="/">Arbejd med gips</a>
        <a href="/">Arbejd med Keramik</a>
        <a href="/">Om os</a>
      </div>
    </div>
  </nav>
</header>

<style>
  header {
    padding-inline: 0.7rem;
    padding-block: 1rem;
  }
  nav {
    display: flex;
    justify-content: space-between;
  }
  img {
    max-width: 2.5rem;
  }
  .left-menu {
    display: flex;
    gap: 1rem;
  }
  .workshop-btn {
    display: none;
  }

  /* Burger menu button */
  .burger-menu-btn {
    display: block;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .burger-icon {
    display: block;
    width: 20px;
    height: 2px;
    background-color: #333;
    position: relative;
  }

  .burger-icon:before,
  .burger-icon:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #333;
    position: absolute;
  }

  .burger-icon:before {
    top: -7px;
  }

  .burger-icon:after {
    bottom: -7px;
  }

  /* Burger menu */
  .burger-menu {
    z-index: 999;
    display: none;
    position: absolute;
    top: 70px;
    right: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    padding-inline: 1rem;
    padding-block: 3rem;
    height: 100vh;
    width: 100vw;
    text-align: center;
    font-size: var(--mob-h1-size);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  /* Show menu */
  .burger-menu.show {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  /* Menu item styling */
  .burger-menu a {
    display: block;
    color: #333;
    text-decoration: none;
    padding: 5px 0;
  }

  .burger-menu a:hover {
font-weight: var(--mob-h1-weight-default);
  }

  body.no_scroll {
  overflow: hidden;
}

</style>

<script>
  // Nedenstående funktion toggler vores burger menu on and off. Derudover skal det ikke være muligt at scrolle når den er aktiv så derfor er .no_scroll tilføjet samtidig.
  
  document.addEventListener("DOMContentLoaded", function () {
    const burgerMenuBtn = document.querySelector(".burger-menu-btn");
    const burgerMenu = document.querySelector(".burger-menu");
    const body = document.body;

    burgerMenuBtn.addEventListener("click", function () {
      burgerMenu.classList.toggle("show");
      body.classList.toggle("no_scroll");
    });
  });
</script>
